.col-md-6
  = simple_form_for @order, html: { class: 'form-horizontal' } do |f|
    = f.input :description, input_html: { rows: 10 }
    = f.input :sum
    .form-group
      = text_field_tag 'code', '', placeholder: 'промо-код',  class: 'form-control'
    = f.button :submit, 'Оплатить', class: 'btn btn-success'
  
    h4#coupon Размер скидки:
    h4#result Итого:
    
