h2 Transactions
.row
  table.table.table-striped
    tr
      th Description
      th Sum
      th Amount
      th Code
      th IP
    - @orders.each do |order|
      tr
        td= order.description
        td= order.sum
        td= order.coupon.calculate_amount(order.sum) if order.coupon.present?
        td= order.coupon.code if order.coupon.present?
        td= order.user.last_sign_in_ip
= paginate @orders
