.row
  .col-md-6
    = simple_form_for [ :admin, @coupon] do |f|
      = f.input :redemption_limit
      = f.input :coupon_type, collection: [ 'amount', 'percentage' ]
      = f.input :sum
      = f.input :mask
      = f.input :count
      = f.button :submit, 'Создать', class: 'btn btn-success'
