h2 Coupons
.row
  table.table.table-striped
    tr
      th Code
      th Redemption limit
      th Sum
      th Type
      
    - @coupons.each do |coupon|
      tr
        td= coupon.code
        td= coupon.redemption_limit
        td= coupon.sum
        td= coupon.coupon_type
= paginate @coupons
