doctype html
html
  head
    title
      | igooods
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    nav.navbar.navbar-default.navbar-static-top
      .container
        p.navbar-text
          = link_to 'Транзакции', admin_transactions_path
        p.navbar-text
          = link_to 'Промо коды', admin_coupons_path
        
        = link_to 'Сгенерить промо коды', new_admin_coupon_path, class: 'btn btn-info btn-sm navbar-btn'
        
        - if current_user
          = link_to 'Выйти', destroy_user_session_path, method: :delete, class: 'btn btn-danger btn-sm navbar-btn navbar-right'
    .container
      = flash_messages
      = yield
