doctype html
html
  head
    title
      | igooods
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    nav.navbar.navbar-default.navbar-static-top
      .container
        - if current_user
          = link_to 'Выйти', destroy_user_session_path, method: :delete, class: 'btn btn-danger btn-sm navbar-btn navbar-right'
    .container
      .js-flash-massage
        = flash_messages
      = yield
